<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>HTML Result</title>
    <link rel="stylesheet" href="/styles/cascade.css">
</head>
<body>
<div class="container body-content">
    <h1>Test</h1>

    <div class="container">


        <div class="row justify-content-start" style="padding-top:10px;">

            <div class="col" style="padding-top:10px;">
                <label></label>


            </div>
            <div class="col" style="padding-top:10px;">
                <label>G 100,000</label>


            </div>
            <div class="col" style="padding-top:10px;">
                <label>S 100,000</label>


            </div>
        </div>
        <div class="row justify-content-start" style="padding-top:10px;">

            <div class="col" style="padding-top:10px;">
                <button class="btn btn-primary"></button>


            </div>
            <div class="col" style="padding-top:10px;">
                <button class="btn btn-primary">B</button>


            </div>
        </div>


    </div>


</div>
</body>
</html>
